{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex align-items-center gap-3">
        <h2>Registration</h2>
        <a href = "{% url 'login' %}">Log in</a>
    </div>
    <div class="alert alert-danger" role="alert">
        Sorry, wrong password!
    </div>

    <div class="card-body">
        <div class="col mb-4">
            <div class="mb-4">
                <label class="form-label">Login</label>
                <input type="text" class="form-control" value="smt like dr_pepper">
            </div>

            <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" value="smt like drpepper@mail.ru">
            </div>

            <div class="mb-4">
                <label class="form-label">NickName</label>
                <input type="text" class="form-control" value="smt like Dr. Pepper">
            </div>

            <div class="mb-4">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control form-control" id="password1" placeholder="••••••••">
            </div>

            <div class="mb-4">
                <label for="password2" class="form-label">Repeat password</label>
                <input type="password" class="form-control form-control" id="password2" placeholder="••••••••">
            </div>
        </div>

        <div class="col-7 text-center">
            <div style="height: 200px; width: 200px;" class="border mb-2">
                <img src="#" alt="img" class="img-fluid" id = "avatar">
            </div>
            
            <div class="input-group">
                <input type="file" class="form-control form-control-sm" id="avatarUpload">
                <label class="input-group-text btn btn-primary btn-sm" for="avatarUpload">Choose</label>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>

{% endblock %}