{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex align-items-center mb-4">
        <h2>Settings: Dr.Pepper</h2>
    </div>

    <div class="card-body">
        <div class="col mb-4">
            <div class="mb-4">
                <label class="form-label">Login</label>
                <input type="text" class="form-control" value="dr_pepper">
            </div>

            <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" value="drpepper@mail.ru">
            </div>

            <div class="mb-4">
                <label class="form-label">NickName</label>
                <input type="text" class="form-control" value="Dr. Pepper">
            </div>
        </div>

        <div class="col-7 text-center">
            <div style="height: 200px; width: 200px;" class="border mb-2">
                <img src="#" alt="img" class="img-fluid">
            </div>
            
            <div class="input-group">
                <input type="file" class="form-control form-control-sm" id="avatarUpload">
                <label class="input-group-text btn btn-primary btn-sm" for="avatarUpload">Choose</label>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>

    {% include "layouts/pagination.html" %}
{% endblock %}